#content {
  @include max-width(800px);
  margin: 20px auto 0;
  padding: 0 15px;
  @include above-width(800px) {
    padding: 0;
  }
}
#nav {
  position: relative;
  text-align: center;
  @include max-width(800px);
  margin: 40px auto 30px;
  @include above-width(800px) {
    text-align: right;
  }
  ul {
    margin: 0;
    padding: 12px 0 0;
    @include clearfix;
    @include above-width(800px) {
      padding: 12px 0 0 180px;
    }
  }
  li {
    display: inline;
    @include above-width(600px) {
      &:first-child a {
        padding-left: 0;
      }
      &:last-child a {
        padding-right: 0;
      }
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px 15px;
      display: block;
      font-weight: 300;
      @include font-size(14, 1);
      width: 50%;
      float: left;
      @include above-width(600px) {
        float: none;
        width: auto;
        @include inline-block(middle);
        padding: 0 20px;
      }
    }
  }
  .logo {
    top: 0;
    left: 0;
    @include inline-block(middle);
    @include above-width(800px) {
      position: absolute;
      display: block;
    }
    a {
      display: block;
      padding: 0;
    }
  }
}
.photo {
  @include intrinsic-ratio('.img');
  .img {
    background: transparent url() center center no-repeat;
    background-size: contain;
  }
  .thumb {
    background-size: contain;
  }
}

