.hero-image {
	width: 412px;
	height: 274px;
	padding: 200px 0 10px 0;
	margin: auto;
	display: block;
}

a {
	float: left;
}

.logo{
	padding: 0;	
}

h4 {
	padding: 25px 30px;
	white-space: nowrap;
}

