/* homepage */

.home-page {
  #content {
    text-align: center;
  }
}
.hero-image {
  width: 412px;
  padding-top: 200px;
  display: inline-block;
}

/* about */

.about {
  width: 500px;
  margin: auto;
  position: relative;
  color: #4A3093;
  text-align: left;
}

.sloop {
  position: absolute;
  bottom: 0;
  left: -164px;
}

.derek {
  position: absolute;
  bottom: 0;
  right: -163px;
}

/* contact */

.contact {
  width: 500px;
  position: relative;
  margin: auto;
}

.chairek {
  position: absolute;
  bottom: 0;
  left: 0;
}
.contact-info {
  padding-left: 320px;
  color: #4A3093;
  text-align: center;
}
