/* homepage */

.home-page {
  #content {
    text-align: center;
  }
}
.hero {
  padding-top: 50px;
}

/* about */

.about {
  @include max-width(500px);
  margin: auto;
  position: relative;
  color: $purple;
  text-align: left;
}

.about-dog-image {
  position: absolute;
  bottom: 0;
  left: -164px;
  display: none;
  @include above-width(600px) {
    display: block;
  }
}

.about-person-image {
  position: absolute;
  bottom: 0;
  right: -163px;
  display: none;
  @include above-width(600px) {
    display: block;
  }
}

/* contact */

.contact {
  @include max-width(500px);
  position: relative;
  margin: auto;
}

.contact-image {
  text-align: center;
  @include above-width(600px) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.contact-info {
  color: $purple;
  text-align: center;
  @include font-size(14);
  @include above-width(600px) {
    padding-left: 270px;
  }
}

/* portfolio */
.portfolio {
  color: $purple;
}
.gallery-item {
  position: relative;
  background: #FFF;
}
.images {
  .bg-left {
    .img {
      background-position: left center;
    }
  }
}
.views {
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  .photo {
    padding-bottom: 100%;
    cursor: pointer;
  }
}
.carousel-indicators {
  display: none;
}
.carousel-control {
  text-shadow: none;
  @include font-size(36, 1);
  color: $purple;
  cursor: pointer;
  top: 50%;
  bottom: auto;
  margin-top: -18px;
  height: 36px;
  width: 36px;
  display: block; 
  &.left {
    background: transparent;
    left: -40px;
  }
  &.right {
    background: transparent;
    right: -40px;
  }
  &:hover {
    opacity: 1;
    color: $purple;
  }
}

/* Press */

.press {
  color: $purple;
}
.press-image {
  margin-bottom: 20px;
}
