/* homepage */

.home-page {
  #content {
    text-align: center;
  }
}
.hero {
  padding-top: 50px;
}

/* about */

.about {
  @include max-width(500px);
  margin: auto;
  position: relative;
  color: $purple;
  text-align: left;
}

.about-dog-image {
  position: absolute;
  bottom: 0;
  left: -164px;
  display: none;
  @include above-width(600px) {
    display: block;
  }
}

.about-person-image {
  position: absolute;
  bottom: 0;
  right: -163px;
  display: none;
  @include above-width(600px) {
    display: block;
  }
}

/* contact */

.contact {
  @include max-width(500px);
  position: relative;
  margin: auto;
}

.contact-image {
  text-align: center;
  @include above-width(600px) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.contact-info {
  color: $purple;
  text-align: center;
  @include font-size(14);
  @include above-width(600px) {
    padding-left: 270px;
  }
}

/* portfolio */
.portfolio {
  color: $purple;
}
.gallery-item {
  position: relative;
  background: #FFF;
}
.has-padding {
  @include above-width(800px) {
    padding-right: 120px;
    .photo {
      padding-bottom: 63%; 
    }
  }
}
.views {
  height: 100px;
  @include above-width(800px) {
    height: auto;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .column {
    width: 25%;
    float: left;
    @include above-width(800px) {
      width: auto;
      float: none;
    }
  }
  .photo {
    padding-bottom: 100%;
    cursor: pointer;
  }
}
.carousel-indicators {
  display: none;
}
.carousel-control {
  text-shadow: none;
  @include font-size(36, 1);
  color: $purple;
  cursor: pointer;
  bottom: auto;
  height: 36px;
  width: 36px;
  display: block; 
  top: 100px;
  @include above-width(800px) {
    top: 170px;
  }
  &.left {
    background: transparent;
    left: 0;
    @include above-width(800px) {
      left: -40px;
    }
  }
  &.right {
    background: transparent;
    right: 0;
    @include above-width(800px) {
      right: -40px;
    }
  }
  &:hover {
    opacity: 1;
    color: $purple;
  }
}

/* Press */

.press {
  color: $purple;
}
.press-image {
  margin-bottom: 20px;
}
